<%layout('layouts/boilerplate')%>

<div class="container portal-container">
  <div class="row justify-content-center mb-2">
    <h1 class="text-center">Admin Portal</h1>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/admin/user_data">
        User Data Management
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/admin/view_withdraw">
        View Withdraw
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/admin/view_payment">
        View Payment
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/admin/view_top_up">
        View Top-Up
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard " href="/admin/menu_update">
        Menu Update
      </a>
    </div>
  </div>
  <form action="/logout" method="POST">
    <div class="logout-button">
      <button class="btn btn-outline-dark btn-block btn-standard">
        Log Out
      </button>
    </div>
  </form>
</div>
