<% layout('layouts/boilerplate') %>

<div class="container my-4">
  <h1 class="mt-4 mb-4 text-center">User Data</h1>
  <table class="table table-bordered" id="editableTable">
    <thead class="table-dark">
      <tr>
        <th>User Type</th>
        <th>User Name</th>
        <th>User ID</th>
        <th>Phone Number</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td contenteditable="false"><%= user.userType %></td>
          <td contenteditable="false"><%= user.username %></td>
          <td contenteditable="false"><%= user._id %></td>
          <td contenteditable="false"><%= user.phoneNumber %></td>
          <td contenteditable="false">********</td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <div class="row justify-content-center mb-3">
    <div class="text-center">
      <button class="btn btn-primary" onclick="enableEditing()">Edit</button>
      <button class="btn btn-success" onclick="saveChanges()">Save</button>
      <a class="btn btn-secondary" href="/">Back to Admin Portal</a>
    </div>
  </div>
</div>

<script>
  function enableEditing() {
    var cells = document.querySelectorAll("#editableTable tbody td");
    cells.forEach(function(cell) {
      cell.contentEditable = true;
    });
  }

  function saveChanges() {
    var cells = document.querySelectorAll("#editableTable tbody td");
    cells.forEach(function(cell) {
      cell.contentEditable = false;
    });
  }
</script>
