<%layout('layouts/boilerplate')%>

<div class="container my-4">
  <h1 class="mt-4 mb-4 text-center">User Data</h1>
  <table class="table table-bordered" id="editableTable">
    <thead class="table-dark">
      <tr>
        <th>User Type</th>
        <th>User Name</th>
        <th>User ID</th>
        <th>Phone Number</th>
        <th>Password</th>
        <th>Active Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td contenteditable="false">Admin</td>
        <td contenteditable="false">John</td>
        <td contenteditable="false">201</td>
        <td contenteditable="false">011-11232345</td>
        <td contenteditable="false">********</td>
        <td contenteditable="false">Active</td>
      </tr>
    </tbody>
  </table>

  <div class="row justify-content-center mb-3">
    <div class="text-center">
      <button class="btn btn-primary">Edit</button>
      <button class="btn btn-success">Save</button>
      <a class="btn btn-secondary" href="/">Back to Admin Portal</a>
    </div>
  </div>
</div>
