<%layout('layouts/boilerplate')%>

<div class="container my-4">
    <h1 class="mt-4 mb-4 text-center">
        View Top-Up
    </h1>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>User Name</th>
                <th>User ID</th>
                <th>Top-Up Method</th>
                <th>Amount (RM)</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>201</td>
                <td>CIMB</td>
                <td>50.00</td>
                <td>1/1/2024, 10:24 PM</td>
                <td>Successful</td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center mb-3">
        <div class="text-center">
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-success">Save</button>
          <a class="btn btn-secondary" href="/">Back to Admin Portal</a>
        </div>
      </div>
    </div>
    
