<%layout('layouts/boilerplate')%>

<div class="container my-4">
    <h1 class="mb-4 text-center">
        View Withdraw
    </h1>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>User Name</th>
                <th>User ID</th>
                <th>Bank Name</th>
                <th>Amount (RM)</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>201</td>
                <td>CIMB</td>
                <td>50</td>
                <td>2024-02-04</td>
                <td>Approved</td>
            </tr>
        </tbody>
    </table>
    <div class="row justify-content-center mb-3">
        <div class="text-center">
            <a class="btn btn-secondary" href="/">Back to Admin Portal</a>
        </div>
    </div>
</div>