<%layout('layouts/boilerplate')%>

<div class="container">
  <h1 class="row">
    <center>Food Reservation</center>
  </h1>

  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="card">
              <% for (let food of foodsList) { %>
              <img
                      src="<%=food.imageUrl%>"
                      class="card-img-top img-fluid object-fit-contain p-2"
                      alt="..."
                      />
                      <div class="card-body">
                          <form action="/parent/food_reservation" method="POST">
                              <input type="text" class="card-title border border-0 row ms-2" name="foodType" value="<%=food.foodName%>" readonly></input>
                              <div class="input-group">
                                  <span>RM</span>
                              <input type="text" class="card-text border border-0 row ms-2 mb-3 inline" name="price" value="<%=food.price%>" readonly></input>
</div>
                              <button
                                      class="btn btn-outline-dark btn-block btn-standard"
                                      type="submit"
                                      >
                                      SELECT
                              </button>
                          </form>
                      </div>
                      <%} %>
          </div>
      </div>
  </div>
  <a class="btn btn-outline-dark btn-block btn-standard" href="/">Back</a>
</div>
