<%layout('layouts/boilerplate')%>

<div class="container border p-4 mx-auto mt-5">
  <h1 class="mt-4 mb-4 text-center">Food Order</h1>
  <h2>Order List:</h2>
  <table class="table table-bordered table-striped">
    <thead class="table-dark">
      <tr>
        <th>Food</th>
        <th>Price (RM)</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nasi Lemak</td>
        <td>5.00</td>
        <td>11/1/2024, 10:11 PM</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center mt-4">
    <a class="btn btn-primary" href="/"> Back to Parent Portal </a>
  </div>
</div>
