<%layout('layouts/boilerplate')%>

<div class="container border p-4 mx-auto mt-5">
  <h1 class="mt-4 mb-4 text-center">Food Order</h1>
  <h2>Order List:</h2>
  <table class="table table-bordered table-striped">
    <%if(foodOrderHistory.length !== 0) {%>
    <thead class="table-dark">
      <tr>
        <th>Food</th>
        <th>Price (RM)</th>
        <th>Date</th>
      </tr>
    </thead>

    <%for (const foodOrder of foodOrderHistory) {%>
    <tbody>
      <tr>
        <td><%=foodOrder.foodType%></td>
        <td><%=foodOrder.price%></td>
        <td><%=foodOrder.date%></td>
      </tr>
    </tbody>
    <%}%>
    </table>
    <% } else { %>
    <tbody>
      <tr>
        <td colspan="3" class="text-center">No order history</td>
      </tr>
    </tbody>
    </table>
    <%}%>
  <div class="text-center mt-4">
    <a class="btn btn-primary" href="/"> Back to Parent Portal </a>
  </div>
</div>
