<%layout('layouts/boilerplate.ejs')%>

<div class="container">
  <div class="row justify-content-center mb-2">
    <h1 class="text-center">Parent Portal</h1>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a
        class="btn btn-outline-dark btn-block btn-standard"
        href="/parent/food_reservation"
      >
        Food Reservation
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a
        class="btn btn-outline-dark btn-block btn-standard"
        href="/parent/top_up"
      >
        Top Up
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a
        class="btn btn-outline-dark btn-block btn-standard"
        href="/parent/withdraw"
      >
        Withdraw
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a
        class="btn btn-outline-dark btn-block btn-standard"
        href="/parent/view_balance"
      >
        Check Account Balance
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a
        class="btn btn-outline-dark btn-block btn-standard"
        href="/parent/transaction_history"
      >
        Check Transaction History
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a
        class="btn btn-outline-dark btn-block btn-standard"
        href="/parent/food_order"
      >
        Food Order
      </a>
    </div>
  </div>
  <div>
    <form action="/logout" method="POST">
      <button class="btn btn-outline-dark btn-block btn-standard">
        Log Out
      </button>
    </form>
  </div>
</div>
