body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a; /* Black background for the sides */
    margin: 0;
}

.container {
    width: 800px; /* Adjust the width as needed */
    background: #92624e; /* Brown background for the central area */
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
    position: relative; /* Set the container to a relative position */
    margin: 20px auto;
}

h1 {
    font-size: 36px; /* Adjust the font size as needed */
    color: #fff; /* Text color */
}

.withdraw-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.withdraw-table th, .withdraw-table td {
    padding: 15px;
    border: 1px solid #333;
    background-color: #fff; /* White background for better visibility */
}

.withdraw-table th {
    background-color: #333;
    color: #fff;
}

.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.back-button:hover, .back-button:active {
    background-color: #555;
    transform: scale(1.1);
}
