body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f2f2; /* Match the background color of the main page */
    margin: 0;
}

.container {
    width: 600px; /* Adjust the width as needed */
    background: #92624e;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow effect */
    position: relative; /* Set the container to a relative position */
}

h1 {
    font-size: 36px; /* Adjust the font size as needed */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.activity-button, .submitButton {
    margin: 10px 0; /* Add margin between the buttons */
    background-color: #333; /* Use the same color as the register page button */
    color: #fff;
    padding: 15px 30px;
    font-size: 18px;
    border: 2px solid #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.activity-button:hover,
.activity-button:active,
.submitButton:hover,
.submitButton:active {
    background-color: #fff;
    color: green;
    transform: scale(1.1); /* Apply a slight incline effect on hover or click */
}

.submitButton {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
}
