<%layout('layouts/boilerplate.ejs')%>

<div
  class="container vw-100 vh-100 d-flex align-items-center justify-content-center flex-column"
>
  <h1 class="fs-1 fw-bold">Welcome to</h1>
  <h2 class="fs-3 fw-semibold">Food Reservation System</h2>
  <button
    class="btn border rounded border-dark m-4 fw-bold fs-5 shadow bg-white"
  >
    LOGIN
  </button>
  <button class="btn border rounded border-dark fw-bold fs-5 bg-white">
    REGISTER
  </button>
</div>
