<%layout('layouts/boilerplate')%>

<div
  class="container d-flex align-items-center justify-content-center flex-column vw-100 vh-100"
>
  <h1>
    <center>Login</center>
  </h1>

  <form href="/login" method="POST">
    <div class="m-2">
      <label for="userId">User ID :</label>
      <input
        type="text"
        name="userID"
        id="userID"
        required="required"
        class="form-control"
      />
    </div>

    <div class="m-2">
      <label for="password">Password :</label>
      <input
        type="password"
        name="password"
        id="password"
        required="required"
        class="form-control"
      />
    </div>
    <a id="backButton" class="btn border border-black m-2" href="/">Back</a>
    <button type="submit" class="btn border border-black">Confirm</button>
  </form>
</div>
