<%layout('layouts/boilerplate')%>

<div
  class="container d-flex align-items-center justify-content-center flex-column vw-100 vh-100"
>
  <h1>Register</h1>
  <form action="/register" method="post" class="needs-validation" novalidate>
    <div class="m-2">
      <label for="username">Name :</label>
      <input
        type="text"
        name="username"
        id="username"
        required="required"
        class="form-control"
      />
    </div>

    <div class="m-2">
      <label for="phoneNumber">Phone Number :</label>
      <input
        type="text"
        name="phoneNumber"
        id="phoneNumber"
        required="required"
        class="form-control"
      />
    </div>

    <div class="m-2">
      <label for="password">Password :</label>
      <input
        type="password"
        name="password"
        id="password"
        required="required"
        class="form-control"
      />
    </div>

    <!--<div class="m-2">-->
    <!--<label for="password_confirmation">Password Confirmation :</label>-->
    <!--<input-->
    <!--type="password_confirmation"-->
    <!--name="password_confirmation"-->
    <!--id="password_confirmation"-->
    <!--required="required"-->
    <!--class="form-control"-->
    <!--/>-->
    <!--</div>-->
    <a id="backButton" class="btn border border-black m-2" href="/">Back</a>
    <button type="submit" value="Confirm" class="btn border border-black m-2">
      Confirm
    </button>
  </form>
</div>
