<% layout('layouts/boilerplate') %>

<div class="container my-4">
    <h1 class="mt-4 mb-4 text-center">
        Food Order
    </h1>
    <h2 class="mb-3">Order List:</h2>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>Food</th>
                <th>Price</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <% foodReservations.forEach((reservation) => { %>
                <tr>
                    <td>
                        <%= reservation.foodType %>
                    </td>
                    <td>
                        <%= reservation.price %>
                    </td>
                    <td>
                        <%= reservation.date %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="text-center mt-4">
        <a class="btn btn-primary" href="/"> Back to canteenWorker Portal </a>
    </div>
</div>
