<%layout('layouts/boilerplate')%>

<div class="container portal-container">
  <div class="row justify-content-center mb-2">
    <h1 class="text-center">Canteen Worker Portal</h1>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">



      <a class="btn btn-outline-dark btn-block btn-standard" href="/canteenWorker/food_order">
        Food Order
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="canteenWorker/withdraw">
        Withdraw
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/canteenWorker/view_balance">
        Check Account Balance
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/canteenWorker/QR">
        QR Scanner
      </a>
    </div>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-md-6 text-center">
      <a class="btn btn-outline-dark btn-block btn-standard" href="/canteenWorker/Inventory">
        Inventory Management
      </a>
    </div>
  </div>
  <form action="/logout" method="POST">
    <div class="logout-button">
      <button class="btn btn-outline-dark btn-block btn-standard">
        Log Out
      </button>
    </div>
  </form>
</div>
